# ------------------------------------------------------------
# Visual Studio / VB.NET build output
# KoTOR Tool Restoration Project
# ------------------------------------------------------------

# Exclude compiled build output
Source/VisualBasic/kotor_tool/bin/

# Exclude intermediate object files
Source/VisualBasic/kotor_tool/obj/